* {
    font-family: Roboto Mono;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 755px;
    margin: 0 auto;
}

header {
    padding: 15px;
}

nav a {
    background-color: #5ED3EB;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-decoration: none;
    margin: 5px 11%;
    width: 15%;
    display: inline-block;
    text-align: center;
    min-height: 16px;
    vertical-align: middle;
    font-size: 12px;
}

nav a:first-child {
    background-color: #FF764E;
    margin: 5px 3%;
    padding: 10px 20px;
}

nav a:last-child {
    background-color: #FFCD69;
    margin: 5px 3%;
}

main {
    padding-top: 20px;
}

.main-img {
    width: 30%;
    display: inline-block;
}

.main-img img {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.main-text {
    width: 68%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

h1 {
    font-family: "Chealsea Market";
}

#tanitim {
    color: white;
    background-color: #DDB9A3;
    padding: 5px 10px;
    margin: 20px auto;
}

.bilgi {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.bilgi img {
    width: 30%;
}

footer {
    background-color: #F9E7DC;
    margin-top: 40px;
}

footer div {
    height: 150px;
    background-image: url("/assets/footer_img.jpg");
}